@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: 0.5rem;
// dropdown items
$dropdown-item-padding-y: 0.4rem;
// buttons
$btn-border-radius: 2rem;
$btn-padding-x: 2rem;
$btn-padding-y: .5rem;
// buttons

// PAGE FAQ
// ACCORDION $accordion-button-bg: #fff;
$accordion-border-width: none;
$accordion-button-active-bg: #fff;
$accordion-button-active-color: #000;
$accordion-button-icon: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"%3E%3Cpath d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/%3E%3C/svg%3E');
$accordion-button-active-icon: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"%3E%3Cpath d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/%3E%3C/svg%3E');

// 4. Include any default map overrides here

$primary: #0078BE;
$secondary: #BD0D81;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);

$navbar-light-color: rgba(black, 0.9);

// Create your own map
$custom-colors: (
    "akademii_blue": #0078BE,
    "akademii_rose": #BD0D81,
    "section_bg_gray": #f5f7fa,
    "section_bg_dark": #222427,
    "darker": #2c2c2c,
    "academy_boxes": #f0f0f0,
    "graficki_dizajn": #156B9E,
    "veb_dizajn": #581F54,
    "vnatresen_dizajn": #811522,
    "javascript": #0D1226,
    "srednoskolci": #A5CE4C,
    "game_development": #A51B1B,
    "virtuelna_realnost": #171A39,
    "softversko_testiranje": #DB5810,
    "data_science": #D8A317,
    "ux_dizajn":#17B88D,
    "covecki_resursi":#EE566D,
    "digitalen_marketing": #A1156B,
    "industricki_dizajn":#D5BD1B,
    "covecki_resursi_it":#2FA982,
    "vizuelni_efekti": #701594,
    "aboveFooter_bg": #156B9E
);

$font-weight-semibold: 500;

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// 5. Include remainder of required parts


@import "./../node_modules/bootstrap/scss/functions"; // Required


@import "./../node_modules/bootstrap/scss/variables"; // Required
@import "./../node_modules/bootstrap/scss/mixins"; // Required
@import "./../node_modules/bootstrap/scss/maps";
@import "./../node_modules/bootstrap/scss/root"; // Required
@import "./../node_modules/bootstrap/scss/reboot"; // Required
@import "./../node_modules/bootstrap/scss/type";
@import "./../node_modules/bootstrap/scss/containers";
@import "./../node_modules/bootstrap/scss/grid";
// @import "./../node_modules/bootstrap/scss/images";
// @import "./../node_modules/bootstrap/scss/code";
@import "./../node_modules/bootstrap/scss/grid";
@import "./../node_modules/bootstrap/scss/tables";
// @import "./../node_modules/bootstrap/scss/forms";
@import "./../node_modules/bootstrap/scss/buttons";
@import "./../node_modules/bootstrap/scss/transitions";
@import "./../node_modules/bootstrap/scss/dropdown";
// @import "./../node_modules/bootstrap/scss/button-group";
// @import "./../node_modules/bootstrap/scss/input-group"; // Requires forms
// @import "./../node_modules/bootstrap/scss/custom-forms";
@import "./../node_modules/bootstrap/scss/nav";
@import "./../node_modules/bootstrap/scss/navbar"; // Requires nav
// @import "./../node_modules/bootstrap/scss/helpers/position";
@import "./../node_modules/bootstrap/scss/helpers";
// @import "./../node_modules/bootstrap/scss/card";
// @import "./../node_modules/bootstrap/scss/breadcrumb";
@import "./../node_modules/bootstrap/scss/pagination";
// @import "./../node_modules/bootstrap/scss/badge";
// @import "./../node_modules/bootstrap/scss/jumbotron";
// @import "./../node_modules/bootstrap/scss/alert";
// @import "./../node_modules/bootstrap/scss/progress";
// @import "./../node_modules/bootstrap/scss/media";
@import "./../node_modules/bootstrap/scss/list-group";
@import "./../node_modules/bootstrap/scss/close";
// @import "./../node_modules/bootstrap/scss/toasts";
@import "./../node_modules/bootstrap/scss/modal"; // Requires transitions
// @import "./../node_modules/bootstrap/scss/tooltip";
// @import "./../node_modules/bootstrap/scss/popover";
@import "./../node_modules/bootstrap/scss/carousel";
// @import "./../node_modules/bootstrap/scss/spinners";
@import "./../node_modules/bootstrap/scss/utilities";

// @import "./../node_modules/bootstrap/scss/print";
@import "./../node_modules/bootstrap/scss/utilities/api";
@import "./../node_modules/bootstrap/scss/accordion";

//
// Custom styles
//
// CONTENT SUMMARY
// 1. GLOBAL
// 2. ANIMATIONS
// 3. HERO SECTION
// 4. NAVIGATION BAR
// 5. AKADEMII BOXES SINGLE 15
// 6. TALENT PARTNERI CAROUSEL
// 7. FAQ PAGE
// 8. EVENTS PAGE
// 9. CONTACT PAGE
// 10. CAREER PAGE
// 11. BLOG PAGE




// what causes scroll
// * {
//     outline: 1px solid #f00 !important;
//   }

// global start

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.mb-6 {
    margin-bottom: 4rem;
}

.mb-7 {
    margin-bottom: 5rem;
}

.mb-9 {
    margin-bottom: 15rem;
}

.mb-10 {
    margin-bottom: 20rem;
}

.mt-6 {
    margin-top: 5rem;
}

.mt-10 {
    margin-top: 15rem;
}

.pt-6 {
    padding-top: 9rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.ms-lg-10 {
    margin-left: 20rem;
}

// height 
.h-70 {
    height: 70%;
}

.shadow-1 {
    // box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.2) 0px 30px 60px -30px!important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

// .service-box:hover {}

.shadow-2 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
}

.badge {
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: 500;
}

.rounded-4-3-corners {
    border-radius: 40px 40px 0px 40px;
}

// global end

// Animations start

// lift animation start
.lift {
    -webkit-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

.lift:hover {
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 40px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

// lift animation end

// shift icon right animation start
@-webkit-keyframes animate-icon-right {
    49% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    50% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes animate-icon-right {
    49% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    50% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    51% {
        opacity: 1;
    }
}

// shift icon right animation end

// Animations end


// hero section start
.hero_section, .hero_section .container-lg .row {
    min-height: 65vh;
}

#hero_bg {
    background-image: url('./../assets/hero/background\ intro\ hero.png');
    background-size: cover;
    // background-position: center center;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    // height: 100vh;
    // height: 1080px;
    // max-height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-white-lg {       
    @include media-breakpoint-up(lg) { 
        background:transparent!important;
    }
    @include media-breakpoint-up(md) { 
        background:white;
    }
    @include media-breakpoint-up(sm) { 
        background:white;
    }
    @include media-breakpoint-up(xs) { 
        background: white;
    }
 }

// hero section end

// Logos list start

.logo-list {
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
    min-height: 500px;
}

.logo-list img {
    display: inline-block;
    max-width: 85%;
    // min-height: 50%;
    // max-height: 50%;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
    -webkit-filter: grayscale(100);
    -moz-filter: grayscale(100);
    filter: grayscale(100);
}

.logo-list img:hover {
    filter: none;
    transform: scale(1.2);
    -webkit-filter: none;
    -moz-filter: none;
}

/* Slider CSS logic */
.slider {
    --slider-inner-width: 2000px;
    --slider-speed: 12s;
}

@keyframes scroll {
    0% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(calc((0px - var(--slider-inner-width)) - 5%))
    }
}

.slider {
    transform: translate3d(0, 0, 0);;
    -webkit-transform: translate3d(0, 0, 0);
    animation: scroll linear infinite var(--slider-speed);
    width: calc(2 * var(--slider-inner-width));
    transition: animation-play-state ease 0.3s;

    &:hover {
        animation-play-state: paused;
    }
}


.flex-container {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 2rem 0 0 0;
    margin-top: 2rem;
}

.slider-container {
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    height: 15vh;
    overflow: hidden;
    position: relative;
    width: 100%;

    .slider {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
    }

    .slider__slide {
        height: 100px;
        flex-grow: 1;
        // flex-basis: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.3s ease-in-out;
        -webkit-filter: grayscale(100);
        -moz-filter: grayscale(100);
        filter: grayscale(100);

        //   background: black;
        //   border-right: solid #82a972 10px;
        //   background: rgba(0,0,0,1);
        &:hover {
            filter: none;
            transform: scale(1.2);
            -webkit-filter: none;
            -moz-filter: none;
            cursor: pointer;
        }

        .slider__content img {
            transition: all 0.3s ease-in-out;
            -webkit-filter: grayscale(100);
            -moz-filter: grayscale(100);
            filter: grayscale(100);
        }
    }
}

img#istqb {
    height: 10vh;
}

// Logos list end



// Navigation bar start

.navbar {
    background-color: white;
    max-height: 80px;
}

#call_nav {
    text-decoration: none;
    color: white;
}

.navbar-brand img {
    // width: 80px;
    height: 60px;
}

// Akademii drop down start

// .akademii_rows {
//     display: flex !important;
//     max-width: 500px;
// }

// .akademii_single_row {
//     display: row !important;
//     // flex-direction: row;
// }

// Akademii drop down end

// Navigation bar end




// Single Academija BOX start

.info-icon {
    width: 20px;
}

.service-box {
    padding: 5px 15px 45px 20px;
    // margin: 0 15px;
    // max-height: 500px;
    // min-height: 350px;
}

.academy_text {
    min-height: 270px;
}

.academy_text h5 {
    font-size: 17px;
    min-height: 30px;
}

.academy_text p {
    font-size: 13px;
}

.service-box .btn {
    font-size: 12px;
    color: white;
}


.service-box:hover .service-box-arrow svg,
.swiper-button-next:hover svg {
    -webkit-animation: animate-icon-right 225ms linear forwards;
    animation: animate-icon-right 225ms linear forwards;
}

.circle-icon {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transform: translateY(-50px);
}

span.highlight {
    position: relative;
    z-index: 1;
}

span.highlight::after {
    content: "";
    position: absolute;
    top: calc(100% - 7.5px);
    right: 0;
    left: 0;
    height: 15px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='282' height='15' fill='none'%3e%3cpath fill='%23BD0D81' fill-rule='evenodd' d='M267.969 2.18c13.232 1.358 11.07.341 10.716 1.01l3.315.794-2.502 1.14c.158.117.379.283.601.45-.163.077-.349.244-.515.236-4.099-.199-8.062.718-12.194.533-4.145-.185-8.371-.29-12.475.037-3.343.264-6.657.346-9.997.425-1.03.024-1.871-.543-3.123-.09-.937.34-2.393.068-3.619.068h-4.041c-1.226 0-2.45-.003-3.675.001-1.22.002-2.441.008-3.661.026-.089.001-.174.106-.484.309 1.15.097 2.121.178 3.092.258l-.014.305c-1.278.02-2.556.05-3.833.059-1.347.01-2.694.006-4.042-.001-.229-.001-.57.007-.67-.08-1.356-1.19-2.885-1.043-4.691-.434-.678.228-1.686.037-2.543.037-11.514 0-23.029-.012-34.541.018-1.254.003-2.702-.4-3.748.458-.048.038-.297.039-.349 0-1.034-.795-2.212.391-3.034-.03-1.062-.54-1.776-.447-2.777-.003-.304.137-1.102-.107-1.6-.273-.695-.232-.651-.554-.006-.836-.127-.098-.23-.252-.386-.282-.213-.04-.597-.04-.677.042-.241.245-.272.6-.567.793-.392.258-.954.555-1.448.559-.849.007-1.895-.455-2.51-.257-.988.318-1.608.278-2.586.017-.668-.177-1.656.25-2.505.26-3.419.036-6.841.014-10.181.014-.337-.357-.621-.66-.906-.96l-1.771.987c-1.43.236-3.91-.655-5.404.968l-1.209-.87c-2.906.53-5.718.607-8.525-.02-2.904.875-5.913.112-8.847.412.063-.442.217-.943.125-.962-1.143-.251-.959.43-1.28.888h-3.893l-.518.921c-.171-.055-.408-.082-.497-.172-.698-.696-1.891-.981-2.833-.67-2.207.73-4.477.343-6.71.425-1.924.07-3.858.014-5.825.362l3.534.233c-2.693.154-5.556 1.147-7.57-.448-1.414.133-2.543.32-3.678.333-3.525.04-7.052.015-10.505.015l-.586 1.103-1.562-1.538c-.25.66-.83 1.343-1.88.87-1.113-.499-1.749-.156-2.767-.023-1.86.242-3.848.069-5.839.38.913.093 1.825.186 2.785.286-.152.156-.252.35-.355.35-2.694.017-5.397.096-8.083-.013-1.982-.08-3.894-.66-5.943-.452-.333.035-.66.097-.994.369l2.95.201c-3.074.207-6.084.755-9.181.005-1.371-.332-3.086-.056-4.74.2l2.05.328c-.12.126-.215.322-.317.323-1.222.016-2.443.003-3.664-.002-.657-1.013-1.638.492-2.635-.174-.65-.433-2.002.584-3.315-.205-.716-.428-2.526-.076-3.894.235l2.894.296c-.214.154-.344.33-.48.332-1.836.018-3.677-.04-5.51.023-3.576.123-7.205.113-10.698.548-1.883.235-3.73.283-5.592.431-1.599.126-3.157.494-3.781 1.877-.638 0-2.054.164-2.18-.029-.546-.844-2.205-.932-2.577-1.658-.35-.686-.927-.897-1.797-1.216-1.753-.644-2.13-1.876-1.244-3.076L.003 7.952c.022-.173-.054-.382.073-.475C1.449 6.46 3.059 5.937 5.253 5.76c3.595-.291 7.11-1.01 10.793-.898 2.111-.842 4.45-.332 6.677-.489 1.741-.122 3.465-.374 5.21-.455 1.704-.08 3.605.285 5.1-.09 2.151-.537 4.26-.469 6.346-.365 2.682.134 5.155-.574 7.784-.532 2.694.04 5.501.327 8.061-.06 4.94-.744 9.911-.003 14.775-.46 6.03-.569 12.117-.017 18.062-.515 8.008-.673 15.985-.162 23.965-.395.977-.028 1.959.004 2.939-.005.825-.007 1.73.143 2.282-.457.437.758 1.384-.076 2.148.29.468.223 1.633-.24 2.501-.297.97-.063 1.957-.015 2.937-.015h11.023c.98 0 1.967-.046 2.939.012 1.148.07 2.285-.183 3.475.349.573.256 1.905-.323 2.899-.341 3.06-.054 6.125.015 9.185-.038 1.139-.019 2.42.349 3.392-.452.636-.526 1.112.918 2.075.131.304-.248 1.831-.29 1.994-.11.926 1.008 1.973-.523 2.678.098 1.001.88 1.622-.155 2.428-.122.456.019.906.111 1.359.169.792.102 2.051.455 2.298.26 1.006-.794 2.181-.015 3.284-.32 1.141-.317 2.631-.114 3.968-.114 24.005-.003 48.014.021 72.02-.03 3.202-.007 6.507.518 9.616-.453 1.636.918 3.25-.1 4.907-.053 5.132.147 10.278.053 15.772.053-.184.375-.296.913-.482.924-2.594.156-5.106.62-7.777.556-5.382-.128-10.776-.04-16.165-.029-.195.001-.389.15-.584.23.245.08.477.193.736.235.648.105 1.243.637 2.006.03.196-.157.935-.023 1.424-.023 7.095 0 14.187 0 8.666.201-12.8.118-12.786.033-12.773-.052-1.137-.2-2.26-.462-3.419-.576-.615-.06-4.504.028-5.062-.023-.476-.044-1.21-.16-1.411-.008-.999.754-2.27.443-3.413.444-17.401.019-34.801.02-52.201-.007-1.021 0-2.186.354-3.113-.31-.177-.128-.817-.19-.945-.1-1.115.788-2.526.332-3.791.42-2.589.177-5.238-.29-7.81.446-.726.208-1.834-.092-2.743-.225-1.749-.256-3.485-.44-5.191.085-.595.183-1.331-.504-1.822.146-.941-.774-2.519-.648-3.336-.368-1.363.468-2.348-.42-3.497-.076-.205.06-.513.041-.64.136-.604.452-1.038.35-1.828.07-.765-.272-1.965-.349-2.775-.155-1.05.252-2.321.446-3.129.338-1.255-.166-2.317.06-3.463.088-8.965.214-17.933-.292-26.91.429-6.7.537-13.494-.192-20.289.454-6.18.587-12.516-.152-18.81.494-4.96.51-10.086-.213-15.136.495-2.343.329-4.896-.045-7.33.085-2.234.12-4.415-.217-6.762.314-2.188.494-4.832.12-7.275.144-.377.004-.753.095-1.13.146.5.328.955.337 1.41.326 4.314-.098 8.606.035 12.946-.403 5.213-.525 10.55.143 15.875-.48 4.942-.577 10.134.437 15.109-.566.7-.14 1.295.922 1.987.04.796.79 1.542-.05 2.312-.06 6.029-.082 12.091.394 18.084-.433.803-.11 2.005-.201 2.465.083 1.042.645 1.551-.362 2.456-.14.751.186 1.693.039 2.55.039 4.903 0 9.805.026 14.705-.018 1.26-.011 2.665.364 3.796-.412.126-.086.788.195 1.217.256.569.082 1.495.288 1.667.14.684-.584 1.088-.074 1.672-.014.581.06 1.256-.402 1.889-.402 1.024 0 2.219-.334 3.036.4.71-.55 1.688-.431 2.606-.426.931.005 1.968-.198 2.631.468.66-.682 1.713-.464 2.64-.466 6.128-.012 12.257.086 18.38-.033 6.025-.118 12.104.547 18.078-.454.736.461 1.692.213 2.517.256 1.065.057 2.163-.233 3.248-.236 1.257-.003 2.63-.284 3.714.418 1.199-.859 2.763-.411 4.133-.415 16.174-.036 32.349-.022 48.524-.027 1.181 0 2.363-.047 16.357-.275' clip-rule='evenodd'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.academy_text {
    transform: translateY(-30px);
}

.curriculum .card-body p {
    font-size: 14px;
}

.program-link:hover {
    font-weight: 500;
}

.curriculum-text .nav-tabs .nav-link.active {
    color: white;
    // background-color: black;
    background: linear-gradient(-45deg,  rgba($primary,0.7), rgba($secondary,0.7));
    border-bottom: 1px solid;
    border-radius: 0 !important;
}

.curriculum-text .nav-tabs .nav-link:hover {
    // background-color: rgba(0, 0, 0, 0.253);
    background: linear-gradient(-45deg,  rgba($primary,0.2), rgba($secondary,0.2));
    color: black;
    border-radius: 0 !important;
}

.web-letters h2 {
    font-size: 8rem;
    font-weight: 900;
    opacity: 0.1;
    text-shadow:  2px 2px #0D1226;
}

// Single Academija BOX end


// TALENT PARTNERI START
// Carousel controls customize position and bg shadow start
.carousel-control-prev,
.carousel-control-next {
    top: -25vh;
    background-image: none;
}

.carousel-control-prev {
    left: -8vw;
    @include media-breakpoint-up(sm) { 
        left: -2vw;
    }

    @include media-breakpoint-up(xs) { 
        left: 2vw;
    }

    @include media-breakpoint-up(lg) { 
        left: -8vw!important;
    }
}

.carousel-control-next {
    right: -8vw;

    @include media-breakpoint-up(sm) { 
        right: -2vw;
    }

    @include media-breakpoint-up(xs) { 
        right: 2vw;
    }


    @include media-breakpoint-up(lg) { 
        right: -8vw!important;
    }
}



// Carousel controls customize position and bg shadow start
// TALENT PARTNERI END

// TESTIMONIALS USPESHNI PRIKAZNI START

#uspesni_prikazni {
    // background: linear-gradient(to bottom, #bd0d827c, #0078BE);
    background: #00468315;
    // animation: background-color-change 6s;
    min-height: 80vh;
}

// @keyframes background-color-change {
//     0% {
//         background: linear-gradient(to bottom, #000428, #004683);
//     }

//     25% {
//         background: linear-gradient(135deg, #1a4223, #5ee95e);
//     }

//     50% {
//         background: linear-gradient(to bottom, #421a31, #e95ed2);
//     }

//     100% {
//         background: linear-gradient(-135deg, #fae37d, #881da8, #20668f);
//     }

// }

.card-student {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    // background-color: inherit;
}

.card-student .face {
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.178);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.06);
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    /* border-right: 1px solid #999;
border-bottom: 1px solid #999; */
}

.card-student .face.front-face,
.card-student .face.back-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.card-student .face.front-face .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.card-student .face.front-face .name {
    letter-spacing: 2px;
    color: black;
}

.card-student .face.front-face .designation {
    font-size: 0.8rem;
    color: rgb(14, 14, 14);
    letter-spacing: 0.8px;
}

.card-student:hover .face.front-face {
    transform: rotateY(180deg);
}

.card-student .face.back-face {
    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.card-student:hover .face.back-face {
    transform: rotateY(360deg);
}

.bi-star-fill {
    color: #DFC201;
}

// TESTIMONIALS USPESHNI PRIKAZNI END

// 7.FAQ PAGE
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
    background-color: rgba(75, 75, 75, 0.2) !important;
    color: #000 !important;
    text-decoration: none !important;
    border: hidden !important;
    border-color: #FFF !important;
    box-shadow: 0px !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #FFF !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #FFF !important;
}

.accordion-button::after {
    order: -1;
    margin-left: 0 !important;
    margin-right: 0.5em;
}

// 8. EVENTS PAGE
/*UPCOMING EVENTS*/
.first-up-event {
    background-image: url('./../assets/inner/nastani/nastan1.jpg');
}

.second-up-event {
    background-image: url('./../assets/inner/nastani/nastan2.jpg');
}

.third-up-event {
    background-image: url('./../assets/inner/nastani/nastan3.jpg');
}

.first-up-event,
.second-up-event,
.third-up-event {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 18vh;
}

.date-time {
    width: 4vw;
}

//PAST EVENTS
.calendar-events,
.past-event1,
.past-event2,
.past-event3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.past-event1,
.past-event2,
.past-event3 {
    width: 100%;
    height: 30vh;
}

.calendar-events {
    background-image: url('./../assets/hero/background\ intro\ hero.png');
    z-index: -1;
    height: 70vh;
}

.past-event1 {
    background-image: url('./../assets/inner/nastani/izminat_nastan3.jpg');
}

.past-event2 {
    background-image: url('./../assets/inner/nastani/izminat_nastan2.jpg');
}

.past-event3 {
    background-image: url('./../assets/inner/nastani/izminat_nastan1.jpg');
}

/*BUTTON GRADIENT */
.btn-gradient {
    // background-image: linear-gradient(to right, #BD0D81 0%, #4e4376 51%, #0078BE 100%) !important;
    background: linear-gradient(-45deg,  $primary, $secondary);
    background-size: 600%;
    animation: anime 5s linear infinite;
    color:white !important;
}

@keyframes anime {
   0% {

       background-position: 0% 50%;
   }

   50% {

       background-position: 100% 50%;
   }

   100% {

       background-position: 0% 50%;
   }
}


// 9.CONTACT PAGE
.contact-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.bg-image-faq {
    background-image: url("./../assets/inner/contact/letters.png");
    background-color: #000;
    height: 60vh;
}

#map {
    width: 100%;
    height: 264.39px;
}


// 10.CAREER CENTER

// Career center intro text and images
.mission-item img {
    width: 2rem;
    height: 2rem;
}

.career-big-img,
.career-small-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.career-big-img {
    background-image: url('./../assets/inner/career center/career1.png');
    width: 100%;
    height: 38rem;
}

.career-small-img {
    background-image: url('./../assets/inner/career center/career2.png');
    width: 34rem;
    height: 30rem;
}

.career-number {
    color: #0D4464;
    font-size: 4rem;
}

// 11. BLOG PAGE

.big-blog-img {
    background-image: url("./../assets/inner/blog/golemi\ objavi.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-post a {
    text-decoration: none;
    color: black;
}

.blog-post-meta-link a {
    font-size: 14px;
    color: #156B9E;
}

// PILLS/TABS

.nav-pills li {
    border: rgb(70, 70, 70) 1px solid;
    border-radius: 2rem;
    padding: 0.5rem;
}

.nav-pills a {
    text-decoration: none;
    color: black;
}

// 12. PORTFOLIO PAGE

// PORTFOLIO PROJECTS
.portfolio-project,
.portfolio-project-lg {
    width: 22rem;
}

.portfolio-project {
    height: 24rem;
}

.portfolio-project-lg {
    height: 30rem;
}

.card-header img {
    width: 26rem;
    height: 10rem;
}

// SIMILAR PROJECTS
.first-similar-post {
    background-image: url("./../assets/inner/portfolio/similar/sfm.jpg");
}

.second-similar-post {
    background-image: url("./../assets/inner/portfolio/similar/galicko.jpg");
}

.third-similar-post {
    background-image: url("./../assets/inner/portfolio/similar/school.jpg");
}

.fourth-similar-post {
    background-image: url("./../assets/inner/portfolio/similar/skopje.jpg");
}

.first-similar-post,
.second-similar-post,
.third-similar-post,
.fourth-similar-post {
    width: 100%;
    height: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.similar-card {
    min-height: 15rem;
}

.carousel-project-control-prev,
.carousel-project-control-next {
    // top: -25vh;
    background-image: none;
}

.similar-projects .carousel-control-next-icon,
.similar-projects .carousel-control-prev-icon {
    filter: invert(1);
}

#uspesni_prikazni .carousel-control-prev-icon,
#uspesni_prikazni .carousel-control-next-icon{
    filter: invert(100%);
}


// RECENT PROJECTS 

.recent-portfolio-projects {
    width: 100%;
    height: 32rem;
}

.gallery-item {
    width: 20rem;
    height: 20rem;
    position: absolute;
    transition: all .3s ease-in-out;
    z-index: 0;
}

.gallery-item.gallery-item-previous,
.gallery-item.gallery-item-next {
    width: 25rem;
    height: 25rem;
    z-index: 1;
}

.gallery-item.gallery-item-selected {
    box-shadow: 0 0 30px rgb(255 255 255 / 60%), 0 0 60px rgb(255 255 255 / 45%), 0 0 110px rgb(255 255 255 / 25%), 0 0 100px rgb(255 255 255 / 10%);
    width: 30rem;
    height: 30rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.gallery-item.gallery-item-previous {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item.gallery-item-next {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-nav {
    bottom: -15px;
    list-style: none;
}

.gallery-nav li {
    background-color: #ccc;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 1rem;
}

.banner {
    width: 100%;
    height: auto;
    // overflow: hidden;
}

.banner .carousel {
    width: 300px;
    margin: 100px auto 0;
    overflow: visible;
}

.carousel img {
    border-radius: 10%;
}

// 13. SINGLE PORTFOLIO PROJECT

.client-detail-desc {
    font-size: 1rem;
}

.first-img-project img {
    width: 90rem;
    height: 30rem;
}

.second-img-project img {
    width: 40rem;
    height: 30rem;
}

// 14. SINGLE BLOG PAGE 
.single-blog-img {
    background-image: url("./../assets/inner/single_blog/computer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 40%;
    z-index: 0;
}

.single-blog-text {
    background-color: white;
    z-index: 1;
    margin-top: 15%;
    margin-left: 20%;
}

.single-blog-text h5 {
    color: #156B9E;
}

.avatar {
    height: 3rem;
    width: 3rem;
}

.first-similar-blog {
    background-image: url("./../assets/inner/single_blog/post-img/4.jpg");
}

.second-similar-blog {
    background-image: url("./../assets/inner/single_blog/post-img/5.jpg");
}

.third-similar-blog {
    background-image: url("./../assets/inner/single_blog/post-img/6.jpg");
}

.fourth-similar-blog {
    background-image: url("./../assets/inner/single_blog/post-img/5.jpg");
}

.fifth-similar-blog {
    background-image: url("./../assets/inner/single_blog/post-img/6.jpg");
}

.sixth-similar-blog {
    background-image: url("./../assets/inner/single_blog/post-img/4.jpg");
}

.first-similar-blog,
.second-similar-blog,
.third-similar-blog,
.fourth-similar-blog,
.fifth-similar-blog,
.sixth-similar-blog {
    width: 100%;
    height: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// 14. WEB DESIGN ACADEMY - SINGLE PAGE

.pink-color {
    color: #D51FA1;
}

.info-part {
    height: 3rem;
}

.info-part-price {
    min-height: 4rem;
}
.info-part-icon img {
    width: 1.2rem;
}

.academy-info p {
    margin: 0;
}

.academy-info {
    height: max-content ;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: .5rem;
    --bs-nav-link-color: none;
    --bs-nav-link-hover-color: none;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
}

.nav-tabs .nav-link,
.nav-tabs {
    border: 0;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-color: white;
}

.with-linear-gradient {
    color: black;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(45deg, rgb(0, 120, 190), rgb(189, 13, 129)) 1;
}

.icon-with-text:hover .fa {
    font-size: 1.5em;
}

.adobe-badges img {
    width: 15rem;
    height: 15rem;
}

.anatomy-icon span img {
    // height: auto;
    width: 4rem;
    height: 4rem;
}

.work-anatomy p {
    margin: 0;
}

.contact-person-text img {
    width: 1.5rem;
    height: auto;
}

.contact-way p {
    margin: 0;
}

.table thead {
    vertical-align: bottom;
    background-color: darkgray;
}

.td-num {
    text-align: center;
}