<!-- USPESHNI PRIKAZNI 1 -->
<div class="container-fluid text-dark my-5 py-5">
    <!-- example badge and heading -->
    <!-- <div class="row d-flex justify-content-center">
<div class="col-md-10 col-xl-8 text-center">
<h3 class="fw-bold mb-4">Testimonials</h3>
<p class="mb-4 pb-2 mb-md-5 pb-md-0">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum
quisquam eum porro a pariatur veniam.
</p>
</div>
</div> -->

    <div class="row d-flex justify-content-center p-0">
        <div class="col-md-10 col-xl-8 text-center my-5">
            <span class="badge bg-academy_boxes mb-5">УСПЕШНИ ПРИКАЗНИ</span>
            <h2 class="fs-3 mt-4 fw-bold">WHEN WE LEARN TOGETHER,<br> WE CREATE STARS.</h2>
        </div>
    </div>
    <div class="row col-md-10 m-auto ">
        <div id="carouselTestimonials" class="carousel slide" data-bs-ride="carousel">
            <!-- carousel controls -->
            <div class="">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials"
                    data-bs-slide="prev">
                    <!-- previous button -->
                    <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials"
                    data-bs-slide="next">
                    <!-- next button -->
                    <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Carousel Testimonials -->
            <div class="carousel-inner p-5">
                <!-- first slide -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card rounded-4-3-corners bg-academy_boxes px-4 py-2 shadow-2">
                                <div class="card-body py-4 mt-2">

                                    <div class="d-flex justify-content-start mb-4">

                                        <img src="./assets/inner/home page/review studenti/kristina.png"
                                            class="rounded-circle shadow-1" width="100" height="100" />

                                        <div
                                            class="d-flex flex-column justify-content-center align-items-start ms-4">
                                            <h5 class="fw-bold">Кристина Попова</h5>
                                            <h6 class="fs-6 my-1">Академија за внатрешен дизајн</h6>
                                            <ul class="list-unstyled d-flex">
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill"></i>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>

                                    <p>
                                        <i class="bi bi-quote me-2 fs-4"></i>„Завршниот прокт го работев со
                                        исклучително внимание и би сакала тој проект да го искористам во
                                        моето
                                        портфолио со кое би барала работа во
                                        оваа област.“
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card rounded-4-3-corners bg-academy_boxes px-4 py-2 shadow-2">
                                <div class="card-body py-4 mt-2">

                                    <div class="d-flex justify-content-start mb-4">

                                        <img src="./assets/inner/home page/review studenti/stefanija.jpg"
                                            class="rounded-circle shadow-1" width="100" height="100" />

                                        <div
                                            class="d-flex flex-column justify-content-center align-items-start ms-4">
                                            <h5 class="fw-bold">Стефанија Коцарева</h5>
                                            <h6 class="fs-6 my-1">Академија за внатрешен дизајн</h6>
                                            <ul class="list-unstyled d-flex">
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill"></i>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>

                                    <p>
                                        <i class="bi bi-quote me-2 fs-4"></i>„Проектите се супер дизајнирани
                                        во
                                        однос на употреба на современите софтвери кои
                                        се есенцијални за започнување на кариера во областа на внатрешниот
                                        дизајн и архитектурата.“
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card rounded-4-3-corners bg-academy_boxes px-4 py-2 shadow-2">
                                <div class="card-body py-4 mt-2">

                                    <div class="d-flex justify-content-start mb-4">

                                        <img src="./assets/inner/home page/review studenti/vesna.jpg"
                                            class="rounded-circle shadow-1" width="100" height="100" />

                                        <div
                                            class="d-flex flex-column justify-content-center align-items-start ms-4">
                                            <h5 class="fw-bold">Весна Х.Нацевска</h5>
                                            <h6 class="fs-6 my-1">Академија за дигитален маркетинг</h6>
                                            <ul class="list-unstyled d-flex">
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill"></i>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>

                                    <p>
                                        <i class="bi bi-quote me-2 fs-4"></i>„По академијата започнав со
                                        кариера
                                        во областа на дигиталниот маркетинг, а завршниот проект ми ги
                                        потврди
                                        знаењата од Академијата.“
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Second slide -->
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card rounded-4-3-corners bg-academy_boxes px-4 py-2 shadow-2">
                                <div class="card-body py-4 mt-2">

                                    <div class="d-flex justify-content-start mb-4">

                                        <img src="./assets/inner/home page/review studenti/georgina.png"
                                            class="rounded-circle shadow-1" width="100" height="100" />

                                        <div
                                            class="d-flex flex-column justify-content-center align-items-start ms-4">
                                            <h5 class="fw-bold">Георгина Мирческа</h5>
                                            <h6 class="fs-6 my-1">Академија за внатрешен дизајн</h6>
                                            <ul class="list-unstyled d-flex">
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill"></i>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>

                                    <p>
                                        <i class="bi bi-quote me-2 fs-4"></i>„Запишете се уште денеска! :)
                                        Секој
                                        почеток е тежок, но истовремено е и полн со
                                        предизвици без кои не можеме да имаме личен и професионален развој,
                                        на
                                        било кое поле.“
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card rounded-4-3-corners bg-academy_boxes px-4 py-2 shadow-2">
                                <div class="card-body py-4 mt-2">

                                    <div class="d-flex justify-content-start mb-4">

                                        <img src="./assets/inner/home page/review studenti/darko.png"
                                            class="rounded-circle shadow-1" width="100" height="100" />

                                        <div
                                            class="d-flex flex-column justify-content-center align-items-start ms-4">
                                            <h5 class="fw-bold">Дарко Милисавов</h5>
                                            <h6 class="fs-6 my-1">JavaScript Академија</h6>
                                            <ul class="list-unstyled d-flex">
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill"></i>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>

                                    <p>
                                        <i class="bi bi-quote me-2 fs-4"></i>„Кариерниот центар беше
                                        директно
                                        инволвиран во комуникација со компанијата во
                                        која денес работам и активно учествуваше во процесот на мојата
                                        регрутација..“
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4 mb-md-0">
                            <div class="card rounded-4-3-corners bg-academy_boxes px-4 py-2 shadow-2">
                                <div class="card-body py-4 mt-2">

                                    <div class="d-flex justify-content-start mb-4">

                                        <img src="./assets/inner/home page/review studenti/tea.png"
                                            class="rounded-circle shadow-1" width="100" height="100" />

                                        <div
                                            class="d-flex flex-column justify-content-center align-items-start ms-4">
                                            <h5 class="fw-bold">Теа Илиева</h5>
                                            <h6 class="fs-6 my-1">Академија за веб дизајн</h6>
                                            <ul class="list-unstyled d-flex">
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill pe-1"></i>
                                                </li>
                                                <li>
                                                    <i class="bi bi-star-fill"></i>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>

                                    <p>
                                        <i class="bi bi-quote me-2 fs-4"></i>„Завршниот проект ми помогна да
                                        добијам целосна слика за процесот нa креирање
                                        на функционални веб страни и да откријам како својата замисла да ја
                                        претворам во реалност.“
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- carousel indicators -->
            <ol class="carousel-indicators position-relative mt-3">
                <li data-bs-target="#carouselLogos" data-bs-slide-to="0"
                    class="active bg-dark carousel-control-prev-icon"></li>
                <li data-bs-target="#carouselLogos" data-bs-slide-to="1" class="bg-dark"></li>
            </ol>

        </div>
    </div>
</div>